span.chord {
  font-size: 5em;
  margin-left: 1ex;
  margin-right: 1e;
}

span.flat {
  font-size: 0.5em;
  vertical-align: top;
  margin-left: -10px;
  margin-right: -10px;
}

.refresh {
  font-size: large;
  width: 10em;
  height: 3em;
}
